* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  background-color: rgb(220, 35, 35);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px 20px 0px 20px;
}

.container .heading {
  width: 50%;
  padding-bottom: 50px;
}
.container .heading h3 {
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: solid black 2px;
}

.container .heading h3 span {
  font-weight: lighter;
}

.container .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .box .imageClass {
  display: flex;
  flex-direction: column;
  max-width: 32.5%;
}

.container .box .imageClass img {
  width: 100%;
  padding-bottom: 10px;
  border-radius: 10px;
}
